volumes:
  clsi-cache:
  filestore-public-files:
  filestore-template-files:
  filestore-uploads:
  filestore-user-files:
  mongo-data:
  redis-data:
  sharelatex-data:
  web-data:
  history-v1-buckets:

services:
  chat:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-chat:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env

  clsi:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-clsi:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env
    environment:
      - TEXLIVE_IMAGE=texlive-full # docker build texlive -t texlive-full
      - SANDBOXED_COMPILES=false
      - SANDBOXED_COMPILES_HOST_DIR_COMPILES=${PWD}/compiles
      - SANDBOXED_COMPILES_HOST_DIR_OUTPUT=${PWD}/output
    user: root
    volumes:
      - ${PWD}/compiles:/overleaf/services/clsi/compiles
      - ${PWD}/output:/overleaf/services/clsi/output
      - ${DOCKER_SOCKET_PATH:-/var/run/docker.sock}:/var/run/docker.sock
      - clsi-cache:/overleaf/services/clsi/cache
      - ${PWD}/latexmkrc:/etc/LatexMk:ro

  contacts:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-contacts:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env

  docstore:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-docstore:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env

  document-updater:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-document-updater:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env

  filestore:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-filestore:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env
    environment:
      BACKEND: fs
      OVERLEAF_EDITOR_PROJECT_BLOBS_BUCKET: "/buckets/project_blobs"
      OVERLEAF_EDITOR_BLOBS_BUCKET: "/buckets/blobs"
    volumes:
      - filestore-public-files:/overleaf/services/filestore/public_files
      - filestore-template-files:/overleaf/services/filestore/template_files
      - filestore-uploads:/overleaf/services/filestore/uploads
      - history-v1-buckets:/buckets

  history-v1:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-history-v1:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env
    environment:
      OVERLEAF_EDITOR_ANALYTICS_BUCKET: "/buckets/analytics"
      OVERLEAF_EDITOR_BLOBS_BUCKET: "/buckets/blobs"
      OVERLEAF_EDITOR_CHUNKS_BUCKET: "/buckets/chunks"
      OVERLEAF_EDITOR_PROJECT_BLOBS_BUCKET: "/buckets/project_blobs"
      OVERLEAF_EDITOR_ZIPS_BUCKET: "/buckets/zips"
      PERSISTOR_BACKEND: fs
    volumes:
      - history-v1-buckets:/buckets

  mongo:
    image: mongo:6.0
    command: --replSet overleaf
    ports:
      - "127.0.0.1:27017:27017" # for debugging
    volumes:
      - mongo-data:/data/db
      - ../bin/shared/mongodb-init-replica-set.js:/docker-entrypoint-initdb.d/mongodb-init-replica-set.js
    environment:
      MONGO_INITDB_DATABASE: sharelatex
    extra_hosts:
      # Required when using the automatic database setup for initializing the
      # replica set. This override is not needed when running the setup after
      # starting up mongo.
      - mongo:127.0.0.1

  notifications:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-notifications:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env

  project-history:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-project-history:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env

  real-time:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-real-time:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env

  redis:
    image: redis:5
    ports:
      - "127.0.0.1:6379:6379" # for debugging
    volumes:
      - redis-data:/data

  web:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-web:${DOCKER_IMAGE_TAG:-ai-tutor}
    env_file:
      - dev.env
      - ../.env_credentials
    environment:
      - APP_NAME=Overleaf Community Edition
      - ENABLED_LINKED_FILE_TYPES=project_file,project_output_file
      - EMAIL_CONFIRMATION_DISABLED=true
      - NODE_ENV=development
      - OVERLEAF_ALLOW_PUBLIC_ACCESS=true
    command: ["node", "app.mjs"]
    volumes:
      - sharelatex-data:/var/lib/overleaf
      - web-data:/overleaf/services/web/data
      - ../services/web/app:/overleaf/services/web/app
      - ./ai-tutor-logs:/var/lib/overleaf/ai-tutor-logs
      - ./ai-tutor-cache:/var/lib/overleaf/ai-tutor-cache
    depends_on:
      - mongo
      - redis
      - chat
      - clsi
      - contacts
      - docstore
      - document-updater
      - filestore
      - history-v1
      - notifications
      - project-history
      - real-time

  webpack:
    image: ${DOCKER_IMAGE_PREFIX:-ghcr.io/flecart/overleaf}-webpack:${DOCKER_IMAGE_TAG:-ai-tutor}
    command:
      ["npx", "webpack", "serve", "--config", "webpack.config.dev-env.js"]
    ports:
      - "127.0.0.1:80:3808"
    volumes:
      - ./webpack.config.dev-env.js:/overleaf/services/web/webpack.config.dev-env.js
      - ../services/web/frontend:/overleaf/services/web/frontend
      - ../types:/overleaf/types
