name: Build and Push All Services

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'libraries/**'
      - '.github/workflows/build-push-template.yml'

jobs:
  build-services:
    strategy:
      matrix:
        service:
          - chat
          - clsi
          - contacts
          - docstore
          - document-updater
          - filestore
          - history-v1
          - notifications
          - project-history
          - real-time
          - web
      fail-fast: false
    uses: ./.github/workflows/build-push-template.yml
    with:
      service: ${{ matrix.service }}
      image_tag: ai-tutor
    secrets: inherit
